main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  background: #1b9b7a;
  display: none;
  grid-template-rows: 15vw 15vw auto;
  row-gap: 1rem;
}
.show-sidebar {
  display: grid;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
